

img {
    width: 12%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}


button {
	background-color:#ffffff;
	border-radius:35px;
    border: none;
    color:#539093;
    padding: 12px 100px;
    display:inline-block;
    margin-bottom: 25px;
    font-size: 15px;
}

#login:hover {
    background-color:#64adb1;
    color: #ffffff;
}

#signup {
	background-color:#64adb1 !important;
    color:#ffffff !important;
    padding: 12px 95.5px !important;
}
#signup:hover {
    background-color:#ffffff  !important;
    color: #539093 !important;
}
button:active {
	position:relative;
	top:1px;
}